@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@keyframes up {
  from{
    opacity:0;
    transform:translateY(1rem);
  }
  to{
    opacity:1;
  }
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --bg:#0d1013;
  --blue:#5fd2ff;
  --green:#6efd6e;

}
body{
  font-family: 'Ubuntu',sans-serif;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}
header{
  margin-top:1rem;
  padding-bottom:1rem;
  text-align: center;
  color:var(--blue);
  animation:up 0.4s;
}
main{
  width:min(80vw,500px);
  animation: up 0.4s 0.2s backwards;
}

footer{
  margin-top: auto;
padding: 3.2rem 0.1.6rem;
animation: up 0.4s 0.4s backwards;
}
footer::after{
  color:wheat;
  content: 'Maked with ❤';
  opacity: 0.6;
  font-size: 0.8rem;
}
button{
  display: block;
  width:100%;
  padding: .8rem 1.6rem;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: normal;
  border:none;
  border-radius:0.4rem;
  background-color: var(--blue);
  color:var(--bg);
  outline:0;
  cursor: pointer;
}
button:hover{
  transform: translate(1px,1px);
}
button + button{
  margin-top: .8rem;
}
img{
  width:100%;
  height: auto;
}

#photo-file{
  display: none;
}
#photo-preview{
  margin-top:.8rem;
   border-radius:0.4rem;
}
#selection-tool{
  position: fixed;
  display: none;
  border: 2px dashed var(--green);
  /*top:0;
  left:0;
  width:200px;
  height: 200px;
*/
}
#crop-image{
  display: none;
  animation: up 0.4s 0.4s backwards;
}
#download{
  display: none;
  animation: up 0.4s 0.4s backwards;
}